#The example configuration file. 
#Attention: it is important to write <var-name>=<var-value> without blank spaces 

#if calling=1 we are calling. if calling=0, we are answering the call.
calling=0

#name of our user on proxy
username=answering

#our password on proxy 
pass=

#determines whether or not we do steganography
do-steg=1

#our local actual ip address
local-ip=192.168.0.103

#proxy ip address
proxy-ip=192.168.0.101

#proxy port
proxy-port=5060

#the audio data file
audio-data-file=../cnf/audiodata.dat

#file where received audio data will be stored
output-audio-data-file=outputaudiodata-callee.dat

#steganography packets interval: how many normal audio packets minimally have to be send
#between each steganography sequence
min-steg-interval=100

#and the maximum. the real interval will be randomized in this range.
max-steg-interval=110

#the steganography sequence. <delay-in-ms>:<packet-type>
#<delay-in-ms> can have form of single integer or range separated with '-', e.g. 10-15
#<pachet-type> can be A for audio packet and S for steganography packet
#Attention: it is important to keep one space between each sequence element
#Example: steg-sequence=10-15:A 90:A 10-15:A 10-15:A 10-12:S 10:S
steg-sequence=10-15:A 90:A 10-15:A 10-15:A 10-12:S 10:S

#the path to file with secret data to be send using steganography
steg-data-file=../cnf/stegdata.txt

#path to the file where we will output captured steg data
output-steg-data-file=capturedsteg-callee.txt

# --- Following parameters model the incoming packets buffer of the program: ---

#the size of incoming queue in packets:
inc-queue-size=10

#defines with what period the incoming packets queue will be processed (all packets read from it). 
#In miliseconds. 
inc-queue-read-interval=160

# --- Some additiona data that we may not like to change too much: ---

#port of SIP Proxy
sip-proxy-port=5060

#RTP payload size used when calling - the amount of data in bytes that each RTP packet carries.
rtp-payload-size=160

#Delay introduced between packets when sending in no-steg mode (just audio data) or between steg sequences.
#note: notation in format min-max is not implemented here !
no-steg-rtp-delay=20





