#The example configuration file. 
#Attention: it is important to write <var-name>=<var-value> without blank spaces 

#if calling=1 we are calling. if calling=0, we are answering the call.
calling=1

#name of our user on proxy
username=stud6

#our password on proxy
pass=stud6

#our local actual ip address
local-ip=192.168.0.103

#proxy ip address
proxy-ip=194.29.169.4

#username to whom we will call
callee-username=stud5

#the audio data file
audio-data-file=../src/audiodata.dat

#determines wether or not we do steganography
do-steg=1

#steganography packets interval: how many normal audio packets minimally have to be send
#between each steganography sequence
min-steg-interval=1000

#and the maximum. the real interval will be randomized in this range.
max-steg-interval=1100

#the steganography sequence. <delay-in-ms>:<packet-type>
#<delay-in-ms> can have form of single integer or range separated with '-', e.g. 10-15
#<pachet-type> can be A for audio packet and S for steganography packet
#Attention: it is important to keep one space between each sequence element
#Example: steg-sequence=10-15:A 90:A 10-15:A 10-15:A 10-12:S 10:S
steg-sequence=10-15:A 90:A 10-15:A 10-15:A 10-12:S 10:S

#the path to file with secret data to be send using steganography
steg-data-file=stegdata.txt

